  h1{
    text-align:center;
    font-size:60px;
    border-bottom: 2px solid gray;
    margin: 0px;
  }
  strong{
    color: orange;
  }
  ol{
    border-right: 2px solid gray;
    width:100px;
    margin:0px;
    padding:10px;
    padding-left: 20px;
  }
  #ch2{
    display: grid;
    grid-template-columns: 150px 1fr;
  }
  #ch1{
    padding-left: 1px;
  }
  .saw{
    color:blue;
  }
  #act{
    color:black;
  }
  #im1{
    display: grid;
    grid-template-columns: 410px 1fr;
  }
  #im2{
    padding-left: 1px;
  }
